<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h1 align='center'>Trade History</h1>

<h1>Trade requests received</h1> <hr>
<% TradeRequest.where(sent_to: current_user.id).each do |trade|%>
  Sent by: <%= User.find(trade.user_id).email%> <br>
  Status: <%= trade.status %>
  <h3>Sent items of trade <%= trade.id%> </h3>
  <% trade.sent_items.each do |sent| %>
    <%= sent.name %>  <%= sent.quantity %>
    <br>
  <% end %>
  <h3>Receive items of trade <%= trade.id%> </h3>
  <% trade.receive_items.each do |sent| %>
    <%= sent.name %>  <%= sent.quantity %> <br>
  <% end %>
  <%= link_to 'accept', accept_path(trade.id), method: :patch %>
  <%= link_to 'reject', reject_path(trade.id), method: :patch %>
  <hr>
<% end %>
<h1>Trade requests sent by me</h1>
<% current_user.trade_requests.each do |trade|%>
  Sent To: <%= User.find(trade.sent_to).email%>
  <h3>Sent items of trade <%= trade.id%> </h3>
  <% trade.sent_items.each do |sent| %>
    <%= sent.name %>  <%= sent.quantity %> <br>
  <% end %>
  <h3>Receive items of trade <%= trade.id%> </h3>
  <% trade.receive_items.each do |sent| %>
    <%= sent.name %>  <%= sent.quantity %> <br>
  <% end %>
  <hr>

<% end %>
<%= link_to "Back", :back %>
